$sp: 768px;

@mixin pc {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

body {
  margin: 0;
  background-color: #e9e0db;
  font-family: serif;
}

header {
}

.l-pcHeader {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 24px;

  @include sp {
    display: none;
  }

  &__logo img {
    width: 180px;
    margin: 0 30px;
  }

  &__nav {
    display: flex;
  }

  &__nav ul {
    display: flex;
    justify-content: right;
    gap: 3vw;
  }

  &__nav li {
    list-style: none;
    font-size: 16px;
    letter-spacing: .07777em;
  }

  &__nav a {
    color: #fff;
    text-decoration: none;
  }

  &__cartIcon img {
    width: 30px;
    margin: 12px 30px 0;
  }
}
.l-spHeader {
  @include pc {
    display: none;
  }

  &__btn {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 36px;
    right: 12px;
    z-index: 5;
  }

  &__fixBtn {
    width: 100%;
    width: 36px;
    height: 36px;
    position: fixed;
    top: 60px;
    right: 12px;
    z-index: 5;
    display: none;
  }

  &__bar {
    width: 26px;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    background-color: #000;
  }

  &__bar-top {
    top: 10px;
  }

  &__bar-bottom {
    bottom: 10px;
  }

  &__btn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__btn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
}

.p-keyVisual {
  height: 100vh;
  background-image: url(../assets/img/top_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-about {
  display: flex;
  justify-content: center;
  color: #704639;
  margin: 150px 30px 200px;
  overflow: hidden;
  position: relative;

  &__titleBox {
    font-size: 36px;
    writing-mode: vertical-rl;
    letter-spacing: .07777em;
    font-weight: inherit;
  }

  &__textBox {
    font-size: 18px;
    line-height: 44px;
    letter-spacing: .07777em;
    margin-top: 57px;
    margin-left: 170px;
    transition: opacity 1s ease .5s;
  }

  &__text1 {
    display: block;
    margin-bottom: 48px;
    word-break: break-word;
    width: fit-content;
  }

  &__text2 {
    display: block;
    margin-bottom: 50px;
    margin-left: 39px;
    word-break: break-word;
  }

  &__text3 {
    display: block;
    word-break: break-word;
    letter-spacing: .07405em;
  }
}

.p-goods {
  margin: 0 60px;

  &__pickUp {
    display: flex;
  }

  &__image {
    width: 45vw;
    height: 45vw;
    vertical-align: bottom;
    object-fit: cover;
  }

  &__text {
    width: 45vw;
    color: #704639;
    padding: 80px 0  0 70px;
    background-color: #ddd6cb;
  }

  &__title {
    font-size: 30px;
    line-height: 3;
  }

  &__detail {
    margin-top: 30px;
  }

  &__price {
    margin-top: 20px;
    font-size: 20px;
    line-height: 2;
  }

  &__more {
    position: relative;
    width: 36%;
    height: 30px;
    margin-top: 80px;
    border: 1px solid #704639;
    text-align: center;
    padding: 8px 0;
  }

  &__more a {
    text-decoration: none;
    color: #704639;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 44px;
    line-height: 44px;
  }
}

.p-more {
  margin: 0 auto;
}

.slide-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.next {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 1.5px #fff;
  border-right: solid 1.5px #fff;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 65px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 1.5px #fff;
  border-right: solid 1.5px #fff;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.indicator {
  width: 100%;
  height: 250px;
  display: flex;
  column-gap: 18px;
  justify-content: center;
  padding-inline-start: 0;
}
.indicator li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  list-style: none;
  border: 1.5px solid #704639;
  cursor: pointer;
}
.indicator li:first-of-type {
  background-color: #704639;;
}

.slide {
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.5s;
}
.slide img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slide1 {
  transform: translateX(0);
}
.slide2 {
  transform: translateX(-33.33%);
}
.slide3 {
  transform: translateX(-66.66%);
}

.p-slidePost {
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;

  &__list {
    display: flex;
    padding-inline-start: 0;
    animation: loop-slide 40s infinite linear 0s both;
  }

  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  // &__paused:hover .slideshow {
  //   animation-play-state: paused;
  // }

  &__list li {
    list-style: none;
  }

  &__image {
    width: 40vw;
    height: 400px;
    object-fit: cover;
    vertical-align: bottom;
  }

  &__more {
    position: relative;
    width: 20%;
    height: 24px;
    border: 1px solid #704639;
    text-align: center;
    padding: 8px 10px;
    margin: 90px auto 200px
  }

  &__more a {
    text-decoration: none;
    color: #704639;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 40px;
    line-height: 40px;
  }
}

.p-information {
  margin: 0 60px 200px;
  color: #704639;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    padding-inline-start: 0;
  }

  &__list li {
    list-style: none;
    padding: 20px 0;
    font-size: 16px;
    letter-spacing: 0.07777em;
  }

  &__list a {
    display: block;
    text-decoration: none;
    color: #704639;
    border-top: 1px solid #704639;
  }

  &__list a:nth-child(3) {
    border-bottom: 1px solid #704639;
  }
}

.p-store {
  display: flex;

  &__image {
    width: 50vw;
    vertical-align: bottom;
  }

  &__about {
    width: 50vw;
    padding: 80px 0 0 80px;
    background-color: #ddd6cb;
    font-weight: 700;
  }

  &__logo {
    width: 170px;
  }

  &__info {
    position: relative;
    width: 36%;
    height: 16px;
    font-size: 12px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 40px;
    border: 1px solid #704639;
    text-align: center;
  }

  &__info a {
    width:100%;
    height: 33px;
    line-height: 33px;
    text-decoration: none;
    color: #704639;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__detail {
    color: #704639;
    margin-top: 20px;
  }

}

.l-footer {
  background-color: #a58b77;
  color: #fff;
  padding: 100px 80px 42px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__leftBox {
    display: flex;
    // margin-right: 60px;
  }

  &__block {
    margin-right: 7.5vw;
  }

  &__title {
    margin-bottom: 25px;
    word-break: keep-all;
  }

  &__rightBox span {
    line-height: 40px;
  }

  &__linkList {
    list-style: none;
    padding-inline-start: 0;
  }

  &__linkList li {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  &__linkList li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    word-break: keep-all;
  }


  &__formBox {
    width: 100%;
    height: 40px;
    padding: 8px 20px;
    border: none;
    line-height: normal;
    margin-top: 16px;
  }

  input:focus {
    outline: none;
}

  &__iconBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__logo {
    width: 170px;
  }

  &__iconList {
    list-style: none;
    display: flex;
    gap: 3.2vw;
  }

  &__iconList img {
    width: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottomList {
    display: flex;
    gap: 4vw;
    justify-content: end;
  }

  &__bottomList li {
    list-style: none;
  }

  &__bottomList li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
}

