$sp: 768px;

@mixin pc {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

body {
  margin: 0;
}

header {

}

.l-pcHeader {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include sp {
    display: none;
  }

  &__logo img{
    width: 130px;
    margin: 0 30px;
  }

  &__nav {
    display: flex;
  }

  &__nav ul {
    display: flex;
    justify-content: right;
    gap: 3vw;
  }

  &__nav li {
    list-style: none;
  }

  &__nav a {
    color: #fff;
    text-decoration: none;
  }

  &__cartIcon img{
    width: 30px;
    margin: 12px 30px 0;
  }
}
.l-spHeader {

  @include pc {
    display: none;
  }

  &__btn {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 36px;
    right: 12px;
    z-index: 5;
  }

  &__fixBtn {
    width: 100%;
    width: 36px;
    height: 36px;
    position: fixed;
    top: 60px;
    right: 12px;
    z-index: 5;
    display: none;
  }

  &__bar {
    width: 26px;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    background-color: #000;
  }

  &__bar-top {
    top: 10px;
  }

  &__bar-bottom {
    bottom: 10px;
  }

  &__btn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__btn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
}

.p-keyVisual {
  height: 100vh;
  background-image: url(../assets/img/top_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-logo {

}