body {
  margin: 0;
  background-color: #e9e0db;
  font-family: serif;
}

.l-pcHeader {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .l-pcHeader {
    display: none;
  }
}
.l-pcHeader__logo img {
  width: 130px;
  margin: 0 30px;
}
.l-pcHeader__nav {
  display: flex;
}
.l-pcHeader__nav ul {
  display: flex;
  justify-content: right;
  gap: 3vw;
}
.l-pcHeader__nav li {
  list-style: none;
}
.l-pcHeader__nav a {
  color: #fff;
  text-decoration: none;
}
.l-pcHeader__cartIcon img {
  width: 30px;
  margin: 12px 30px 0;
}

@media screen and (min-width: 768px) {
  .l-spHeader {
    display: none;
  }
}
.l-spHeader__btn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 36px;
  right: 12px;
  z-index: 5;
}
.l-spHeader__fixBtn {
  width: 100%;
  width: 36px;
  height: 36px;
  position: fixed;
  top: 60px;
  right: 12px;
  z-index: 5;
  display: none;
}
.l-spHeader__bar {
  width: 26px;
  height: 2px;
  display: block;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  background-color: #000;
}
.l-spHeader__bar-top {
  top: 10px;
}
.l-spHeader__bar-bottom {
  bottom: 10px;
}
.l-spHeader__btn.close .l-spHeader__bar-top {
  transform: translate(-50%, 6px) rotate(45deg);
  transition: transform 0.3s;
}
.l-spHeader__btn.close .l-spHeader__bar-bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.3s;
}
.l-spHeader__fixBtn.close .l-spHeader__bar-top {
  transform: translate(-50%, 6px) rotate(45deg);
  transition: transform 0.3s;
}
.l-spHeader__fixBtn.close .l-spHeader__bar-bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.3s;
}

.p-keyVisual {
  height: 100vh;
  background-image: url(../assets/img/top_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-about {
  display: flex;
  justify-content: center;
  color: #704639;
  margin: 150px 30px 200px;
  overflow: hidden;
  position: relative;
}
.p-about__titleBox {
  font-size: 30px;
  writing-mode: vertical-rl;
  letter-spacing: 0.07777em;
  font-weight: inherit;
}
.p-about__textBox {
  font-size: 18px;
  line-height: 44px;
  letter-spacing: 0.07777em;
  margin-top: 57px;
  margin-left: 170px;
  transition: opacity 1s ease 0.5s;
}
.p-about__text1 {
  display: block;
  margin-bottom: 48px;
  word-break: break-word;
  width: -moz-fit-content;
  width: fit-content;
}
.p-about__text2 {
  display: block;
  margin-bottom: 50px;
  margin-left: 39px;
  word-break: break-word;
}
.p-about__text3 {
  display: block;
  word-break: break-word;
  letter-spacing: 0.07405em;
}

.p-goods {
  margin: 0 60px;
}
.p-goods__pickUp {
  display: flex;
}
.p-goods__image {
  width: 45vw;
  height: 45vw;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-goods__text {
  width: 45vw;
  color: #704639;
  padding: 80px 0 0 70px;
  background-color: #ddd6cb;
}
.p-goods__title {
  line-height: 2;
}
.p-goods__detail {
  margin-top: 30px;
}
.p-goods__price {
  margin-top: 20px;
  font-size: 20px;
  line-height: 2;
}
.p-goods__more {
  width: 36%;
  margin-top: 80px;
  border: 1px solid #704639;
  text-align: center;
  padding: 8px 0;
}
.p-goods__more a {
  text-decoration: none;
  color: #704639;
}

.p-more {
  position: relative;
  margin: 0 auto;
}
.p-more__list {
  padding-inline-start: 0;
}
.p-more__list li {
  list-style: none;
}
.p-more__list li img {
  width: 90vw;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.p-more__btn {
  display: flex;
}
.p-more__prevBtn {
  position: absolute;
  top: 195px;
  left: 50px;
  color: #fff;
  font-size: 50px;
}
.p-more__nextBtn {
  position: absolute;
  top: 195px;
  right: 50px;
  color: #fff;
  font-size: 50px;
}

.p-slidePost__image {
  width: 40vw;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.p-store {
  display: flex;
}
.p-store__image {
  width: 50vw;
  vertical-align: bottom;
}
.p-store__about {
  width: 50vw;
  background-color: #ddd6cb;
}
.p-store__detail {
  color: #704639;
}

.l-footer {
  background-color: #a58b77;
  color: #fff;
  padding: 60px;
}
.l-footer__top {
  display: flex;
  justify-content: space-between;
}
.l-footer__leftBox {
  display: flex;
  margin-right: 60px;
}
.l-footer__leftBox ul li {
  list-style: none;
}
.l-footer__leftBox ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.l-footer__iconBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-footer__logo {
  width: 170px;
}
.l-footer__iconList {
  list-style: none;
  display: flex;
  gap: 2vw;
}
.l-footer__iconList img {
  width: 30px;
}
.l-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-footer__bottomBox {
  width: 70vw;
}
.l-footer__bottomList {
  display: flex;
  gap: 3vw;
}
.l-footer__bottomList li {
  list-style: none;
}
.l-footer__bottomList li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */