$sp: 768px;

@mixin pc {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

body {
  margin: 0;
  background-color: #e9e0db;
  font-family: serif;
}

header {
}

.l-pcHeader {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @include sp {
    display: none;
  }

  &__logo img {
    width: 130px;
    margin: 0 30px;
  }

  &__nav {
    display: flex;
  }

  &__nav ul {
    display: flex;
    justify-content: right;
    gap: 3vw;
  }

  &__nav li {
    list-style: none;
  }

  &__nav a {
    color: #fff;
    text-decoration: none;
  }

  &__cartIcon img {
    width: 30px;
    margin: 12px 30px 0;
  }
}
.l-spHeader {
  @include pc {
    display: none;
  }

  &__btn {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 36px;
    right: 12px;
    z-index: 5;
  }

  &__fixBtn {
    width: 100%;
    width: 36px;
    height: 36px;
    position: fixed;
    top: 60px;
    right: 12px;
    z-index: 5;
    display: none;
  }

  &__bar {
    width: 26px;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    background-color: #000;
  }

  &__bar-top {
    top: 10px;
  }

  &__bar-bottom {
    bottom: 10px;
  }

  &__btn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__btn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-top {
    transform: translate(-50%, 6px) rotate(45deg);
    transition: transform 0.3s;
  }

  &__fixBtn.close &__bar-bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
}

.p-keyVisual {
  height: 100vh;
  background-image: url(../assets/img/top_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-logo {
}

.p-about {
  display: flex;
  justify-content: center;
  color: #704639;
  margin: 150px 30px 200px;
  overflow: hidden;
  position: relative;

  &__titleBox {
    font-size: 30px;
    writing-mode: vertical-rl;
    letter-spacing: .07777em;
    font-weight: inherit;
  }

  &__textBox {
    font-size: 18px;
    line-height: 44px;
    letter-spacing: .07777em;
    margin-top: 57px;
    margin-left: 170px;
    transition: opacity 1s ease .5s;
  }

  &__text1 {
    display: block;
    margin-bottom: 48px;
    word-break: break-word;
    width: fit-content;
  }

  &__text2 {
    display: block;
    margin-bottom: 50px;
    margin-left: 39px;
    word-break: break-word;
  }

  &__text3 {
    display: block;
    word-break: break-word;
    letter-spacing: .07405em;
  }
}

.p-goods {
  margin: 0 60px;

  &__pickUp {
    display: flex;
  }

  &__image {
    width: 45vw;
    height: 45vw;
    vertical-align: bottom;
    object-fit: cover;
  }

  &__text {
    width: 45vw;
    color: #704639;
    padding: 80px 0  0 70px;
    background-color: #ddd6cb;
  }

  &__title {
    line-height: 2;
  }

  &__detail {
    margin-top: 30px;
  }

  &__price {
    margin-top: 20px;
    font-size: 20px;
    line-height: 2;
  }

  &__more {
    width: 36%;
    margin-top: 80px;
    border: 1px solid #704639;
    text-align: center;
    padding: 8px 0;
  }

  &__more a {
    text-decoration: none;
    color: #704639;
  }
}

.p-more {
  position: relative;
  margin: 0 auto;

  &__list {
    padding-inline-start: 0;
  }

  &__list li {
    list-style: none;
  }

  &__list li img {
    width: 90vw;
    height: 500px;
    object-fit: cover;
    display: block;
  }

  &__btn {
    display: flex;
  }

  &__prevBtn {
    position: absolute;
    top: 195px;
    left: 50px;
    color: #fff;
    font-size: 50px;
  }

  &__nextBtn {
    position: absolute;
    top: 195px;
    right: 50px;
    color: #fff;
    font-size: 50px;
  }
}

.p-slidePost {
  &__image {
    width: 40vw;
    height: 400px;
    object-fit: cover;
    vertical-align: bottom;
  }
}

.p-store {
  display: flex;

  &__image {
    width: 50vw;
    vertical-align: bottom;
  }

  &__about {
    width: 50vw;
    background-color: #ddd6cb;
  }

  &__detail {
    color: #704639;
  }
}

.l-footer {
  background-color: #a58b77;
  color: #fff;
  padding: 60px;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__leftBox {
    display: flex;
    margin-right: 60px;
  }

  &__leftBox ul li {
    list-style: none;
  }

  &__leftBox ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  &__rightBox {
  }

  &__iconBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 170px;
  }

  &__iconList {
    list-style: none;
    display: flex;
    gap: 2vw;
  }

  &__iconList img {
    width: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottomBox {
    width: 70vw;
  }

  &__bottomList {
    display: flex;
    gap: 3vw;
  }

  &__bottomList li {
    list-style: none;
  }

  &__bottomList li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
}

.icon-tabler {

}
